@model IEnumerable<TourWebApp.Models.Tour>

@{
    ViewData["Title"] = "Index";
}

<h1>Tours list</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinDuration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.Label)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinDuration)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TourID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TourID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TourID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
